*.pyc
*.mo
*~
__pycache__
*.pyc
*.mo
*.log
*.sublime-project
*.sublime-workspace
*.sqlite3
*.patch
*.xml
*.sh
*.log
*.env
*.sublime-project
*.sublime-workspace
.vscode/
.coverage
.scannerwork/
.DS_Store
/media/
/staticfiles/
/run/
/protected/
/bower_components/