<p>
	<a href="https://travis-ci.org/marfyl/django-curriculum-landing" target="_blank" rel="noopener noreferrer">
		<img src="https://travis-ci.org/marfyl/django-curriculum-landing.svg?branch=master" alt="Travis Build">
	</a>
	<a href="https://requires.io/github/marfyl/django-curriculum-landing/requirements/?branch=master" target="_blank" rel="noopener noreferrer">
		<img src="https://requires.io/github/marfyl/django-curriculum-landing/requirements.svg?branch=master" alt="Requirements Status" />
	</a>
	<a href="https://sonarcloud.io/dashboard?id=marfyl_django-curriculum-landing" target="_blank" rel="noopener noreferrer">
		<img src="https://sonarcloud.io/api/project_badges/measure?project=marfyl_django-curriculum-landing&metric=alert_status" alt="Quality gate">
	</a>
</p>