<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
  <div class="w-100">
    <h2 class="mb-5">Contact</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <div class="mb-3">Please fill out the quick form and I will be in touch with lightning speed.</div>
        <form action="." method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-secondary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>