<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">University of Granada</h3>
        <div class="subheading mb-3">Engineer’s Degree</div>
        <div>Computer Science</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006 - 2011</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">University of Cambridge</h3>
        <div class="subheading mb-3">Certificate in English</div>
        <div>PRE - FCE</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006</span>
      </div>
    </div>
  
  </div>
</section>