<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    
    <p class="lead mb-5">
      I am a Senior Software Engineer with extensive experience building applications, teams management, support business ideas, experimentation, web services, mobile applications and agile.
      <br>I'm able to be involved with all aspects of a project, from conception to design to development to testing.
      <br>I have worked in large software projects and startups located in EE.UU and Spain, remotely and in person at the office with the whole team
      <br>I really like Python, I have a lot of experience with Python, Django, Django Rest Framework, Celery, AWS, Heroku, CI/CD pipelines, PyPi packages, Microservices, PostgreSQL, MySQL, MongoDB. Also working with external services, emails management, monitoring, errors management with Sentry...
      <br>As well I have experience with Angular, Backbone, jQuery, JavaScript, Html5, CSS3, Bootstrap, Ionic, PhoneGap, Wikitude AR ..
      <br>I’m comfortable on the back-end as well as the front. I am flexible with my schedule, and able to join or lead existing teams.
    </p><br><br>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Lead Developer</h3>
        <div class="subheading mb-3">
          <a href="https://www.cocopifood.com" class="underline" target="_blank" rel="noopener noreferrer">Cocopi</a>
        </div>
        <p>In full boom of business based on collaborative economy, CocopíFood disrupt the daily food providing home cooking in your city.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">November 2015 - Present</span>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Senior Backend Engineer</h3>
        <div class="subheading mb-3">
          <a href="https://www.openexo.com" class="underline" target="_blank" rel="noopener noreferrer">OpenExO</a>
        </div>
        <p>OpenExO is a Global Transformation Ecosystem, which connects world-class professionals, helping organizations, institutions and people to transform and unlock abundance to change the world.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2018 - December 2019</span>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">CTO</h3>
        <div class="subheading mb-3">
          <a href="http://www.mdurance.eu" class="underline" target="_blank" rel="noopener noreferrer">mDurance</a>
        </div>
        <p>mDurance is an innovative digital health tool that allows professionals to assess the endurance and muscular activity of any muscle objectively through the most advanced emerging technology: A wearable electromyography sensor, a smartphone and tablet application, Cloud storage and data analysis through a web application.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2017 - December 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Senior Software Engineer</h3>
        <div class="subheading mb-3">
          <a href="https://www.gust.com" class="underline" target="_blank" rel="noopener noreferrer">Gust</a>
        </div>
        <p>LeanMonitor is a gust.com company that helps entrepreneurs and innovators to implement Lean Startup principles and bring their ideas to life. The platform provides a comprehensive stack of cloud-based lean startup tools that help innovators and entrepreneurs to successfully manage and grow their projects. .</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2015 - December 2016</span>
      </div>
    </div>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">IActive</div>
        <p>IActive is an award-winning company that helps organizations to innovate by combining lean principles, agile software development and cutting-edge technologies.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2012 - December 2014</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">
          <a href="https://www.nextgenvest.com" class="underline" target="_blank" rel="noopener noreferrer">NextGenVest</a>
        </div>
        <p>NextGenVest is a mission centered start-up based in New York City that is providing the next generation with education to manage their money effectively so they can excel in the real world.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2014 - November 2014</span>
      </div>
    </div>
  
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Full-Stack Developer</h3>
        <div class="subheading mb-3">Orientta</div>
        <p>Orientta Tour Guides is a website to market official tour guides in Spain and Europe.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2014 - June 2014</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Backend Developer</h3>
        <div class="subheading mb-3">Primerlife</div>
        <p>PrimerLife gives you an opportunity to upload your profile and genetic information and provides users personalized health plan on the base of artificial intelligence tool for disease prevention.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">March 2013 - July 2013</span>
      </div>
    </div>

  </div>

</section>
