<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>

    {% include 'landing/tools.html' %}

    <div class="subheading mb-3">Source Code</div>
    <p class="mb-0">
      The source code of this page is completely public and you can check it out on my <a href="https://github.com/marfyl/django-curriculum-landing" target="_blank" rel="noopener noreferrer">GitHub</a> account.
    </p>
  
    <p>
      It was developed with Python, Django and continuous integration & deployment with Travis CI in Heroku Cloud Platform.
    </p>

    {% include 'landing/build_status.html' %}
    
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/marfyl" data-size="large" aria-label="Follow @marfyl on GitHub" target="_blank" rel="noopener noreferrer">Follow @marfyl</a>
  </div>
</section>