
<div class="subheading mb-3">Programming Languages &amp; Tools</div>
<ul class="list-inline dev-icons">
  <li class="list-inline-item">
    <em class="fab fa-python" title="python"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-js-square" title="javascript"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-angular" title="angular"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-html5" title="html5"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-css3-alt" title="css3"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-node" title="node"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-java" title="java"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-android" title="android"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-ember" title="ember"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-sass" title="sass"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-less" title="less"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-gulp" title="gulp"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-npm" title="npm"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-linux" title="linux"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-mailchimp" title="mailchimp"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-napster" title="napster"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-raspberry-pi" title="raspberry"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-github" title="github"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-gitkraken" title="gitkraken"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-gitlab" title="gitlab"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-jira" title="jira"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-slack-hash" title="slack"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-trello" title="trello"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-jenkins" title="jenkins"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-dev" title="dev"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-codepen" title="codepen"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-bitcoin" title="bitcoin"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-ethereum" title="ethereum"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-stripe" title="stripe"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-stack-exchange" title="stack exchange"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-stack-overflow" title="stack overflow"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-aws" title="amazon web services"></em>
  </li>
  <li class="list-inline-item">
    <em class="fab fa-docker" title="docker"></em>
  </li>
</ul>