
<div class="subheading mb-3">Programming Languages &amp; Tools</div>
<ul class="list-inline dev-icons">
  <li class="list-inline-item">
    <i class="fab fa-python" title="python"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-js-square" title="javascript"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-angular" title="angular"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-html5" title="html5"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-css3-alt" title="css3"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-node" title="node"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-java" title="java"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-android" title="android"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-ember" title="ember"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-sass" title="sass"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-less" title="less"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-gulp" title="gulp"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-npm" title="npm"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-linux" title="linux"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-mailchimp" title="mailchimp"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-napster" title="napster"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-raspberry-pi" title="raspberry"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-github" title="github"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-gitkraken" title="gitkraken"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-gitlab" title="gitlab"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-jira" title="jira"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-slack-hash" title="slack"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-trello" title="trello"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-jenkins" title="jenkins"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-dev" title="dev"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-codepen" title="codepen"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-bitcoin" title="bitcoin"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-ethereum" title="ethereum"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-stripe" title="stripe"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-stack-exchange" title="stack exchange"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-stack-overflow" title="stack overflow"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-aws" title="amazon web services"></i>
  </li>
  <li class="list-inline-item">
    <i class="fab fa-docker" title="docker"></i>
  </li>
</ul>